body{
    background-color: #0A3C53;
}

img{
    box-shadow: #eeeeee 2px 2px 10px;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 2%;
}

.top{
    color: #eeeeee;
    padding: 5% 5% 2% 5%;
    text-align: center;
}

.bottom{
    display: grid;
    text-align: center;
}

.bottom{
    padding-left: 35%;
    padding-right: 35%;
}

.bottom a{
    text-decoration: none;
    color: #0A3C53;
}

a{
    border-radius: 35px;
    margin-bottom: 2%;
    padding: 3%;
    background-color: #eeeeee;
}

a:hover{
    background-color: rgb(74, 74, 214);
    color: #eeeeee;
}

@media only screen and (max-width: 820px) {
    .bottom{
        padding-left: 15%;
        padding-right: 15%;
    }
    a{
        padding: 7%;
        margin-top: 5%;
    }
}
